<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<p>
			Aujourd'hui nous sommes le
			{{'now' | date('m/d/y')}}</p>
		<H1>Hello !!!!
			{{ nom | capitalize }}</H1>
	</body>
</html>
