<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{asset('node_modules/bootstrap/dist/css/bootstrap.css')}}">
		<title>Document</title>
	</head>
	<body>
		<table class="table">
			{% for note in notes %}
				<tr>
					<td>{{ note }}</td>
				</tr>
			{% endfor %}
		</table>
		<div class="alert alert-info">
			<p>Nombre de notes :
				{{notes | length}}</p>
			<p>Note minimal :
				{{ min (notes) }}</p>
			<p>Note maximal :
				{{ max (notes) }}</p>
		</div>
	</body>
</html>
